{
  "TOKEN": "NzM0MTEzMjExNDYwMDkxOTE0.XxM-NA.0A1mleQ-6X4_yFkA8MTRxPEsSGU",
  "YOUTUBE_API_KEY": "AIzaSyCdpSZgQvZP-KcNie-P7E7Wwml-E3Iz3K4",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false
}
